body {
	background-color: #4747B5;
	font-family: Verdana, "Times New Roman", "Comic Sans";

}

#div1 {
	color: #fff;
text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #00DEFF, 0 0 70px #00DEFF, 0 0 80px #00DEFF, 0 0 100px #00DEFF, 0 0 150px #00DEFF;
padding:0px 20px 0px 20px;
	height:400px;
	text-align: left;


}

#div2 {
	color: #FFCC66;
text-shadow: 0 -2px 3px #111,0 3px 4px #666;
float: left;
display: block;
font-size: 14px;
text-align: center

}

#par1 {
	font-size: 12px
	text-align: center;
	display: block;
}

#divthree {
	border-style: solid;
	border-width: 15px
	height: 100px
	width: 100px;
}
